html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-primary;
  background-color: $body-bg;
}

.list-item {
  outline: none;
  border-right: 4px solid $color-secondary;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.--active {
    border-right: 4px solid $color-primary-light;
    background-color: $color-secondary-dark;
  }
}

.caret::before {
  font-family: FontAwesome;
  padding-right: 5px;
  content: '\f0d8';
  margin-left: -18px;
}

.collapsed .caret::before {
  font-family: FontAwesome;
  padding-right: 5px;
  content: '\f0d7';
  margin-left: -18px;
}


.btn-outline-thick {
  font-size: 16px;
  border-width: 2px !important;
}

// TODO | Change the way the active state loads in --- Should it?
.top--active {
  border-bottom: 0.25rem solid $dark;
  padding-bottom: 0.25rem !important;
}
